<h2>Game setting</h2>

<form [formGroup]="settingForm">
  <section id="board-size" formGroupName="boardSize">
    <mat-form-field>
      <mat-label>Row count</mat-label>
      <input type="number" matInput pattern="\d+" formControlName="rowCount">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Column count</mat-label>
      <input type="number" matInput pattern="\d+" formControlName="columnCount">
    </mat-form-field>
  </section>
</form>

<label for="alive-percentage">Alive cell ratio:</label>
<mat-slider id="alive-percentage" [value]="alivePercentage" [min]="0" [max]="1" [step]="0.01" [thumbLabel]="true"
  [displayWith]="alivePercentageDisplayFunc">
</mat-slider>
