<h2>Game setting</h2>

<form [formGroup]="settingForm">
  <section id="board-size" formGroupName="boardSize">
    <mat-form-field>
      <mat-label>Row count</mat-label>
      <input type="number" matInput pattern="\d+" formControlName="rowCount">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Column count</mat-label>
      <input type="number" matInput pattern="\d+" formControlName="columnCount">
    </mat-form-field>
  </section>
  <mat-form-field>
    <mat-label>Alive cell ratio</mat-label>
    <input type="number" min="0" max="100" step="1" matInput formControlName="alivePercentage">
    <span matSuffix>%</span>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Generation life span</mat-label>
    <input type="number" min="0.1" step="100" matInput formControlName="evolutionTimeInterval">
    <span matSuffix>second</span>
  </mat-form-field>

  <section id="submit-section">
    <button mat-button type="submit" [disabled]="!settingForm.valid">Apply</button>
  </section>
</form>
