.table-container {
  display: table;
  border-collapse: collapse;

  .table-row {
    display: table-row;

    .table-cell {
      display: table-cell;
      padding: 10px;
    }

    .cell-alive{
      background-color: green;
    }
  }
}